/** @format */

.selection-panel {
	position: fixed;
	height: 75px;
	width: 100%;
	border-bottom: 1px solid black;
	transform: scale(0);
	transition: 0.8s;
	background-color: white;
}

.active-panel {
	transform: scale(1);
}
