/** @format */

.warning-container {
  position: fixed;
  font-size: 21px;
  display: grid;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 21px;
  width: 400px;
  height: max-content;
  text-align: center;
  align-self: center;
  margin: auto auto;
  width: 100%;
  transform: scale(1);
  position: fixed;
  z-index: 24;
}

.warning-block {
  width: 700px;
  height: 140px;
  transform: scale(0);
  align-self: center;
  text-align: center;
  margin: auto auto;
  transition: 0.5s;
  border-radius: 16px;
  background-color: #ffe4b5;
  margin-top: auto;
  margin-bottom: auto;
}

.warning-active {
  transform: scale(1);
}

.warning-button {
  margin-top: 12px;
}

.warning-button:hover {
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s;
  background-color: gold;
}

.warning-buttons {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
